body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

#canvas {
  margin-top: 50px;
}
#score {
  color: #fefefe;
  margin-top: 200px;
  font-size: 50px;
}
